.wrap {
    max-width:1920px;
}
/* ------------------------------------------ 네비 */
.wrap nav {
    padding-top:50px;
    width:100%;
    display:flex; flex-flow:row nowrap;
    gap:55px; justify-content:center;
    position:fixed; z-index:999;
    top:0; left:0;
}
.wrap nav a {
    color:#aaa;
    font-size:var(--font-nav);
}
/* 마우스 hover */
.wrap nav a:hover {
    color:#fff;
}
/* 슬라이드 시작 */
.wrap .portfolio {height:100vh;}
.wrap .portfolio .pofol_wrap {}
/* --------------------------------------------------------- 인트로 */
.wrap .portfolio .pofol_wrap .pofol_slide1 {
    background-color:var(--color-background);
}
.wrap .portfolio .pofol_wrap .pofol_slide1 .intro_gra {
    width: 900px;
    margin:0 auto;
    animation:graRotate 2.5s linear infinite;
}
.wrap .portfolio .pofol_wrap .pofol_slide1 .intro_gra img {width:100%;}
.wrap .portfolio .pofol_wrap .pofol_slide1 .intro_title {
    width:528px; position:absolute; top:42%; left:50%;
    transform:translateX(-50%);
}
.wrap .portfolio .pofol_wrap .pofol_slide1 .intro_title img {width:100%;}
.wrap .portfolio .pofol_wrap .pofol_slide1 .intro_mouse {
    width:40px; position:absolute;
    bottom:8%; left:50%;
    transform:translateX(-50%);
    animation:mouseMove 1.5s linear infinite alternate;
}
.wrap .portfolio .pofol_wrap .pofol_slide1 .intro_gra img {width:100%;}
/* ------------------------------------------------ 원 그라, 마우스 애니메이션 */
/* 원 회전 */
@keyframes graRotate {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}
@keyframes mouseMove {
    0% {transform:translateX(-50%) translateY(0);}
    100% {transform:translateX(-50%) translateY(14px);}
}
/* ----------------------------------------------------------------- 프로필 */
.wrap .portfolio .pofol_wrap .pofol_slide2 {
    background-color:var(--color-background);
    justify-content:center; align-items:center;
    gap:120px;
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .photo_profile {
    justify-content:center;
    opacity:0;
    transform:translateY(100px);
}
.wrap .portfolio .pofol_wrap .pofol_slide2.swiper-slide-active .photo_profile {animation: downUp 0.7s linear forwards;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .photo_profile .Profile {
    margin-bottom: 26px; position:relative;
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .photo_profile .Profile img:nth-child(1) {}
.wrap .portfolio .pofol_wrap .pofol_slide2 .photo_profile .Profile img:nth-child(2) {
    position:absolute;
    top:-25px; left:-40px; z-index:-1;
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .photo_profile .my_profile * {font-size:1.125rem;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .photo_profile .my_profile .name {
    color: #fff; margin-bottom:26px;
    font-size:1.7rem;
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .photo_profile .my_profile .name em {
    color: #fff;
    font-family:'Butler';
    font-size:1.3rem;
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .photo_profile .my_profile .my_content {}
.wrap .portfolio .pofol_wrap .pofol_slide2 .photo_profile .my_profile .my_content li {
    margin-bottom:14px;
    display:flex; gap:16px;
    align-items:center; 
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .photo_profile .my_profile .my_content li:nth-child(4) {margin-bottom:0;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .photo_profile .my_profile .my_content li .icon_img {width:24px;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .photo_profile .my_profile .my_content li .icon_img img {width: 100%;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .photo_profile .my_profile .my_content li p:nth-child(2) {color: #fff;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap {
    opacity:0;
    transform:translateY(100px);
}
.wrap .portfolio .pofol_wrap .pofol_slide2.swiper-slide-active .Profile_wrap {animation: downUp 0.7s linear forwards}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap > p {
    color:#fff; margin-bottom:60px;
    font-size:1.6rem;
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap > p em {
    color:var(--color-main-v4);
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents {
    gap:120px;
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_left {}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_left .education {
    margin-bottom:60px;
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_left .education li:nth-child(4) {
    margin-bottom:0px; text-align:right;
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_left .education h1 {}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_left .education .edu_content {}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_left .work {}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_left .work li:nth-child(2) {margin-bottom:0px;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_left .work h1 {}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_left .work .work_content {}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right {width:410px;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .certificate {margin-bottom:60px;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .certificate li:nth-child(3) {margin-bottom:0px;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .certificate h1 {}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .certificate .certi_content {}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .skills {}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .skills li {
    display:flex; align-items:center; justify-content:center;
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .skills li:nth-child(7) {margin-bottom:0px;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .skills h1 {}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .skills .skill-name {
    color:#fff; margin-right:26px;
    width:140px;
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .skills .skill-bar {
    width:100%; height:8px;
    background-color:var(--color-sub);
    border-radius:4px; overflow:hidden;
    position: relative; z-index:10;
}
/* 스킬바 */
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .skills .skill-bar::after {
    content:''; display:block;
    position:absolute;
    top:0; left:0;
    background-color:var(--color-main-v2);
    height:100%; z-index:20;
    transform-origin: left;
    transform: scaleX(0);
}
.wrap .portfolio .pofol_wrap .pofol_slide2.swiper-slide-active .Profile_wrap .profile_contents .profile_contents_right .skills .skill-bar::after {
    animation: leftRight 1.5s ease-out forwards;
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .skills .figma::after {width:80%;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .skills .photoshop::after {width:80%;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .skills .illustrator::after {width:80%;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .skills .html::after {width:80%;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .skills .css::after {width:80%;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .skills .javascript::after {width:80%;}
.wrap .portfolio .pofol_wrap .pofol_slide2 .Profile_wrap .profile_contents .profile_contents_right .skills .j-query::after {width:80%;}
/* 통합 */
.wrap .portfolio .pofol_wrap .pofol_slide2 h1 {
    margin-bottom:28px;
    color:var(--color-main-v4);
    font-family:'Butler';
    font-size:1.625em;
    font-weight:500;
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .year {
    color:var(--color-sub); margin-right:22px;
}
.wrap .portfolio .pofol_wrap .pofol_slide2 .content {color:#fff;}
.wrap .portfolio .pofol_wrap .pofol_slide2 li {
    margin-bottom: 14px;
    line-height:1.4em;
}
.wrap .portfolio .pofol_wrap .pofol_slide2 li * {font-size:1.125rem;}
/* ------------------------------------------------------------------------------------------------- 애니메이션 */
@keyframes downUp {
    0% {transform:translateY(100px); opacity:0;}
    100% {transform:translateY(0); opacity:1;}
}
@keyframes leftRight {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}
/* ------------------------------------------------------------------------------------------------- 3행 */
.wrap .portfolio .pofol_wrap .pofol_slide3 {
    background-color:var(--color-background);
    display:flex;
    justify-content:center;
    align-items:center;
}
.wrap .portfolio .pofol_wrap .pofol_slide3 .project_gr {
    width:1520px; display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}
.wrap .portfolio .pofol_wrap .pofol_slide3 .project_gr a {
    opacity: 0;
    transform: translateY(100px);
}
.wrap .portfolio .pofol_wrap .pofol_slide3.swiper-slide-active .project_gr a {
    animation: downUp 1s ease-out forwards;
}
.wrap .portfolio .pofol_wrap .pofol_slide3.swiper-slide-active .project_gr a:nth-child(1) { animation-delay: 0.2s; }
.wrap .portfolio .pofol_wrap .pofol_slide3.swiper-slide-active .project_gr a:nth-child(2) { animation-delay: 0.5s; }
.wrap .portfolio .pofol_wrap .pofol_slide3.swiper-slide-active .project_gr a:nth-child(3) { animation-delay: 0.8s; }
.wrap .portfolio .pofol_wrap .pofol_slide3 .project_gr a .project_img {
    width:440px; height:600px; overflow:hidden;
    margin-bottom:20px;
}
.wrap .portfolio .pofol_wrap .pofol_slide3 .project_gr a .project_img::after {
    content:''; display:block; position:absolute; top:0; left:0;
    width:100%; height:600px; overflow:hidden;
    background:rgba(0, 0, 0, 0.5);
}
.wrap .portfolio .pofol_wrap .pofol_slide3 .project_gr a .project_img:hover::after {
    background:none;
}
.wrap .portfolio .pofol_wrap .pofol_slide3 .project_gr a .project_img img {
    width:104%;
}
.wrap .portfolio .pofol_wrap .pofol_slide3 .project_gr a .project_contents * {
    color:#fff;
}
.wrap .portfolio .pofol_wrap .pofol_slide3 .project_gr a .project_contents {
    display:flex;
    flex-flow:column nowrap;
    gap:8px;
}
.wrap .portfolio .pofol_wrap .pofol_slide3 .project_gr a .project_contents .Period {
    line-height:1.4em;
    letter-spacing:2px;
    font-weight:300;
}
.wrap .portfolio .pofol_wrap .pofol_slide3 .project_gr a .project_contents .project_name {
    font-size:2.625em;
    font-family:'Butler';
    letter-spacing:2px;
    font-weight:600;
}
.wrap .portfolio .pofol_wrap .pofol_slide3 .project_gr a .project_contents .description {
    letter-spacing:-0.02em;
    font-weight:400;
}
/* ------------------------------------------------------------------------------------------------- 4행 */
.wrap .portfolio .pofol_wrap .pofol_slide4 {
    background-color:var(--color-background);
    background-image:url(../images/Project_01.png);
    background-size:36%;
    background-repeat:no-repeat;
    background-position:98% 96%;
    padding:0 200px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g {}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g > * {margin-bottom:30px;}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_1 {}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_1 .brand_name {
    font-size:3.75em; color:#fff;
    font-weight:600;
    font-family:'Butler';
    letter-spacing:2px;
    margin-bottom:14px;
}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_1 .brand_content {
    font-size:1.25em; color:#fff;
    font-weight:500;
    margin-bottom:14px;
}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_1 .redesign {color:#fff;}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_2 {
    padding:30px 0;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_2 li {margin-bottom:12px; color:#fff;}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_2 li:nth-child(5) {
    width:32px; height:32px;
    display:flex; flex-flow:row nowrap; gap:16px;
    margin-bottom:0;
}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_2 li:nth-child(5) img {width:100%;}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_3 {
    display:flex;
    margin-bottom:0;
    gap:14px;
}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_3 > * {
    background-color:#fff; width:180px; height:74px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.125em;
    font-weight:500;
    line-height:1.2em;
}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_3 > *:hover {background-color:var(--color-main-v2); color:#fff;}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_3 .git {text-align:center;}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_3 .figma {display:flex; flex-flow:column nowrap; position: relative;}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_3 .figma .sub {
    display:flex; position:absolute; top:74px;
    display:none;
}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_3 .figma:hover.sub {}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_3 .figma .sub > * {font-weight:300; font-size: 0.8em; padding:8px 11px;}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_3 .figma:hover .sub {
    display:flex;
}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_3 .figma .sub li {}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_3 .figma .sub li a {color:#fff;}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .right_g_3 .proposal {}
.wrap .portfolio .pofol_wrap .pofol_slide4 .right_g .site {
    color:var(--color-sub);
    font-size:0.875em;
    font-weight:300;
    display:block;
    margin-top:30px;
    width:100%; text-align:center;
}
.wrap .portfolio .pofol_wrap .pofol_slide4 .project_img {}
.wrap .portfolio .pofol_wrap .pofol_slide4 .project_img img {width:100%;}
/* ------------------------------------------------------------------------------------- 3CE */
.wrap .portfolio .pofol_wrap .pofol_slide5 {
    background-color:var(--color-background);
    background-image:url(../images/Project_02.png);
    background-size:36%;
    background-repeat:no-repeat;
    background-position:2% 96%;
    padding:0 200px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g {}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g > * {margin-bottom:30px;}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_1 {}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_1 .brand_name {
    font-size:3.75em; color:#fff;
    font-weight:600;
    font-family:'Butler';
    letter-spacing:2px;
    margin-bottom:14px;
}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_1 .brand_content {
    font-size:1.25em; color:#fff;
    font-weight:500;
    margin-bottom:14px;
}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_1 .redesign {color:#fff;}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_2 {
    padding:30px 0;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_2 li {margin-bottom:12px; color:#fff;}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_2 li:nth-child(5) {
    width:32px; height:32px;
    display:flex; flex-flow:row nowrap; gap:16px;
    margin-bottom:0;
}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_2 li:nth-child(5) img {width:100%;}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_3 {
    display:flex;
    margin-bottom:0;
    gap:14px;
}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_3 > * {
    background-color:#fff; width:180px; height:74px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.125em;
    font-weight:500;
    line-height:1.2em;
}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_3 > *:hover {background-color:var(--color-main-v2); color:#fff;}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_3 .git {text-align:center;}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_3 .figma {display:flex; flex-flow:column nowrap; position: relative;}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_3 .figma .sub {
    display:flex; position:absolute; top:74px;
    display:none;
}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_3 .figma:hover.sub {}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_3 .figma .sub > * {font-weight:300; font-size: 0.8em; padding:8px 11px;}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_3 .figma:hover .sub {
    display:flex;
}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_3 .figma .sub li {}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_3 .figma .sub li a {color:#fff;}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .right_g_3 .proposal {}
.wrap .portfolio .pofol_wrap .pofol_slide5 .right_g .site {
    color:var(--color-sub);
    font-size:0.875em;
    font-weight:300;
    display:block;
    margin-top:30px;
    width:100%; text-align:center;
}
.wrap .portfolio .pofol_wrap .pofol_slide5 .project_img {}
.wrap .portfolio .pofol_wrap .pofol_slide5 .project_img img {width:100%;}
/* ------------------------------------------------------------------------------------------------- 샤틴 */
.wrap .portfolio .pofol_wrap .pofol_slide6 {
    background-color:var(--color-background);
    background-image:url(../images/Project_03.png);
    background-size:36%;
    background-repeat:no-repeat;
    background-position:98% 96%;
    padding:0 200px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g {}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g > * {margin-bottom:30px;}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_1 {}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_1 .brand_name {
    font-size:3.75em; color:#fff;
    font-weight:600;
    font-family:'Butler';
    letter-spacing:2px;
    margin-bottom:14px;
}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_1 .brand_content {
    font-size:1.25em; color:#fff;
    font-weight:500;
    margin-bottom:14px;
}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_1 .redesign {color:#fff;}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_2 {
    padding:30px 0;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_2 li {margin-bottom:12px; color:#fff;}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_2 li:nth-child(5) {
    width:32px; height:32px;
    display:flex; flex-flow:row nowrap; gap:16px;
    margin-bottom:0;
}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_2 li:nth-child(5) img {width:100%;}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_3 {
    display:flex;
    margin-bottom:0;
    gap:14px;
}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_3 > * {
    background-color:#fff; width:180px; height:74px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.125em;
    font-weight:500;
    line-height:1.2em;
}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_3 > *:hover {background-color:var(--color-main-v2); color:#fff;}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_3 .git {text-align:center;}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_3 .figma {display:flex; flex-flow:column nowrap; position: relative;}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_3 .figma .sub {
    display:flex; position:absolute; top:74px;
    display:none;
}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_3 .figma:hover.sub {}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_3 .figma .sub > * {font-weight:300; font-size: 0.8em; padding:8px 11px;}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_3 .figma:hover .sub {
    display:flex;
}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_3 .figma .sub li {}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_3 .figma .sub li a {color:#fff;}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .right_g_3 .proposal {}
.wrap .portfolio .pofol_wrap .pofol_slide6 .right_g .site {
    color:var(--color-sub);
    font-size:0.875em;
    font-weight:300;
    display:block;
    margin-top:30px;
    text-align:center;
}
.wrap .portfolio .pofol_wrap .pofol_slide6 .project_img {}
.wrap .portfolio .pofol_wrap .pofol_slide6 .project_img img {width:100%;}