/* 모든 태그들에 대한 공통 초기값 세팅 */
html,body,h1,h2,h3,h4,h5,h6,
dl,dt,dd,ol,ul,li,p,blockquote,hr,div,video,address,
header,footer,nav,aside,article,section,figure,figcaption,main,details,summary,
form,fieldset,legend,input,button,select,option,textarea,
em,strong,sub,sup,br,span,del,s,q,mark,code,img,a,
table,thead,tbody,tfoot,tr,td,th {
    margin:0; padding:0; box-sizing:border-box;
    line-height:1; /* 피그마 행간 100% == 1 */
    letter-spacing:-0.02em; /* 피그마 자간 -2% == -0.02em */
    word-spacing:0;
    font-size:1em;/* 피그마 글자 크기 16px == 1em */
    font-weight:400;/* 피그마 글자 굵기 400 == regular */
    font-style:normal;
    color:#000;
    font-family: 'Pretendard', 'Butler', sans-serif;
}
/* 개별 태그 초기값 */
a {text-decoration:none;}
ul,ol,li {list-style:none;}
fieldset {border:0;}
legend {display:none;}
input {border:0; outline:none;}
button {border:0; background:none; cursor:pointer;}
table,tr,td,th {border-collapse:collapse;}
select, option {border:0; appearance:none; outline:none;}
/* chrome, safari, edge, opera */
/* 웹브라우저 엔진 -webkit-, -moz-, -m-, -o- */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
/* firefox */
input[type=number] {
    -moz-appearance:none;
    margin:0;
}
/* 웹글꼴 */
/* 1. Light (가장 얇은 굵기) */

@font-face {
    font-family: 'Butler';
    src: url(../font/Butler-Free-Lgt.ttf);
    font-weight: 300;
}



/* 2. Regular (일반 굵기) */

@font-face {
    font-family: 'Butler';
    src: url(../font/Butler-Free-Rmn.ttf);
    font-weight: 400;
}



/* 3. Medium */

@font-face {
    font-family: 'Butler';
    src: url(../font/Butler-Free-Med.ttf);
    font-weight: 500;}



/* 4. SemiBold */

@font-face {
    font-family: 'Butler';
    src: url(../font/Butler-Free-SBd.ttf);
    font-weight: 600;
}

/* 5. Bold */

@font-face {
    font-family: 'Butler';
    src: url(../font/Butler-Free-Bd.ttf);
    font-weight: 700;
}

/* 6. ExtraBold */

@font-face {
    font-family: 'Butler';
    src: url(../font/Butler-Free-XBd.ttf);
    font-weight: 800;
}


/* 7. Black (가장 두꺼운 굵기) */

@font-face {
    font-family: 'Butler';
    src: url(../font/Butler-Free-Blk.ttf);
    font-weight: 900;
}

